.main-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.main-header {
  width: 100%;
  height: 80px;
  color: #f9f9f9;
  background: #002766;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.main-header > span {
  font-weight: bold;
  font-size: 30px;
  margin: 0 40px;
}
.main-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  overflow: scroll;
  padding-bottom: 20px;
}
.main-content > button {
  width: 415px;
  height: 117px;
  border-radius: 10px;
  border: 2px solid #002766;
  font-weight: bold;
  font-size: 27px;
}

.main-content > button {
  background: #f9f9f9;
  color: #002766;
  cursor: pointer;
}

.main-content > button:hover {
  background: #002766;
  color: #fcfcfc;
}

/* Style the tab */
.tab {
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  width: 50%;
  height: 71px;
  border: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-weight: bold;
  font-size: 28px;
  color: #737373;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  color: black;
  background: #ffffff;
}

/* Style the tab content */
.tabcontent {
  width: 100%;
  height: 100%;
}

.tabcontent {
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.content-container {
  width: 100%;
  height: 100%;
  padding-bottom: 20px;
}

.content-container .prediction-main {
  display: flex;
  flex-direction: column;
  align-items: flex;
  padding: 50px;
}

.prediction-main_title_border_style {
  width: 80%;
  border-width: 2px;
  padding-bottom: 2px;
  border-right: 0px;
  border-top: 0px;
  border-left: 0px;
  border-bottom-color: #a9a9a9;
}

.prediction-main_sub_border_style {
  width: 80%;
  border-width: 1px;
  /* padding-bottom: 0px; */
  border-right: 0px;
  border-top: 0px;
  border-left: 0px;
  border-style: dotted;
  border-bottom-color:#d1d1d1;
}

.prediction-description {
  font-size: 17px;
  margin-top: 50px;
  text-align: right; 
  margin-right: 250px;
  
  font-weight:bolder;
  font-size: 20px;
  color: #6c6c6c;
}

.prediction-main-item {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 15px;

  /* border-width: 2px;
  border-color: #a9a9a9;
  border-bottom: solid;
  width: 70%;
  padding: 10px; */
}

.prediction-main-item2 {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 15px;

  /* border-width: 2px;
  border-color: #a9a9a9;
  border-bottom: solid;
  width: 70%;
  padding: 10px; */
}


.prediction-main-item h1 {
  font-weight: bold;
  font-size: 30px;
  color: #002766;
  margin-top: 10px;
}


.prediction-main-item h3 {
  font-weight: bold;
  font-size: 25px;
  color: #002766;
  margin-top: 40px;
}

.prediction-main-item .left-bold {
  flex: 3;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding-right: 10px;

  font-weight:bold;
  font-size: 20px;
  color: #6c6c6c;
}
.prediction-main-item .left {
  flex: 3;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding-right: 10px;

  font-weight:lighter;
  font-size: 20px;
  color: #6c6c6c;
}
.prediction-main-item2 .left {
  flex: 3;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding-right: 10px;

  font-weight:lighter;
  font-size: 20px;
  color: #6c6c6c;
}
.left-red-point {
  font-size: 10px;
  color: #f55d42;
  margin-bottom: 20px;
  margin-left: 6px;
}

.prediction-main-item .left_empty {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  /* margin-right: 50px; */

  font-weight:lighter;
  font-size: 20px;
  color: #6c6c6c;
}

.prediction-main-item .left_title {
  flex: 9;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-weight:lighter;
  font-size: 20px;
  color: #6c6c6c;
}


.left-red-point {
  font-size: 10px;
  color: #f55d42;
  margin-bottom: 20px;
  margin-left: 6px;
}

.left-white-point {
  font-size: 0px;
}

.left-red-description {
  color: #f55d42;
  margin-left: 10px;
}
.prediction-main-item .left-multiline {
  flex: 2;
  display: flex; 
  flex-direction: row;
  align-items: center;
  justify-content: flex-end; 
  padding-right: 10px;

  font-weight:lighter;
  font-size: 18px;
  color: #989898;
  line-height: 1.5em;
}

.prediction-main-item2 .right {
  flex: 7;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 30px;
}
.prediction-main-item .right {
  flex: 7;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 30px;
}

.prediction-main-item .right > input {
  width: 250px;
  height: 40px;
  font-size: 23px;
}

.prediction-main-item .right > select {
  flex: none;
  width: 250px;
}

.prediction-main-item .right button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 9px 15px;

  width: 140px;
  height: 40px;

  /* Text_color2 */

  background: #888888;
  /* drop-shadow / button-primary */

  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
  border-radius: 100px;
  border: none;

  font-size: 23px;
  color: #ffffff;
}
.prediction-main-item2 .right button {
  display: flex;  
  flex-direction: row;
  align-items: center;
  justify-content:center; 
  padding-right: 10px;

  width: 426px;
  height: 114px;
  left: 728px;
  bottom: 127px;

  background: #002766;

  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
  border-radius: 100px;

  font-size: 30px;
  font-weight: bold;
  color: #ffffff;
  cursor: pointer; 
  margin-top: 100px;  
  margin-bottom: 50px;  
}
.prediction-main-item .right button.active {
  background: #002766;
}

.prediction-main-item .right span {
  margin: 0 5px;
}

.content-container .search-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 70px;
}


.bottom-div {
  align-items: center;
  /* margin-left: 500px;
  margin-bottom: 50px; */
}

.prediction-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 9px 115px; 

  width: 426px;
  height: 114px;
  left: 728px;
  bottom: 127px;

  background: #002766;

  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
  border-radius: 100px;

  font-size: 30px;
  font-weight: bold;
  color: #ffffff;
  cursor: pointer; 
  margin-top: 100px; 
}

.search-wrapper {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
select {
  flex: 2;
  min-height: 40px;
  margin-right: 30px;
  padding: 9px 16px;

  background: #ffffff;
  color: #888888;
  font-size: 23px;

  /* Neutral / 5 */

  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  /* drop-shadow / button-secondary */

  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.016);
  border-radius: 2px;
}
.input-box {
  flex: 8;
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;

  background: #ffffff;

  box-sizing: border-box;
  border: 1px solid #00474f;
  box-shadow: 0px 0px 0px 2px rgba(24, 144, 255, 0.2);
  border-radius: 26px;
}
input {
  width: 80%;
  height: 90%;
  font-size: 23px;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  border-radius: 2px;
}
input:focus {
  outline: none;
}
input::placeholder {
  outline: none;
  color: #d1d1d1;
}

.info-box {
  display: flex;
  flex-direction: row;
  margin: 40px 0 80px 0;

  font-weight: 500;
  font-size: 27px;
}

.content-box {
  width: 90%;
  background: #ffffff;
  /* Text_color3 */

  border: 1px solid #a9a9a9;
  box-sizing: border-box;
  margin: 14px 0;
}
.head-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 40px 50px;

  font-weight: 500;
  font-size: 30px;
  color: #262c3d;
}
.content {
  padding: 0 150px;
  padding-bottom: 60px;
}
.content-table-title {
  font-weight: bold;
  font-size: 30px;
  color: #002766;
}

.content-table td {
  font-size: 21px;
  font-weight: 500;
  padding: 20px 20px;

  border-top: 1px solid rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}
.title-column {
  background-color: #fafafa;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}